
@{
    ViewBag.Title = "GetAction";
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>view与controller的传值样例</title>
    </head>
    <body>
        <h3>Controller--->View</h3>
        <p>获取链接方式的值:(使用场景:在传递重要数据的情况下一般使用此方式,逐个接收.即:删除等操作)</p>
        ViewBag接受到的值: &nbsp;@ViewBag.Name &nbsp; @ViewBag.Age &nbsp; @ViewBag.Sex &nbsp; @ViewBag.Tel
        <hr />
        <p>2.表单方式:(使用场景:传递数据较多时使用,逐个接收)</p>
        ViewBag接受到的值: &nbsp;@ViewBag.Name1 &nbsp; @ViewBag.Age1 &nbsp; @ViewBag.Sex1 &nbsp; @ViewBag.Tel1
        <hr />
    </body>
    </html>




